CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
**/build/*
Assignment4/Data/~$MINES_VIS 2018 week4.pptx

Noteboks/

Assignment6/data/
